<h1>Create new user</h1>


<form class="" action=" <%= users_url %> " method="post">

  <!-- <input
  name="authenticity_token"
  type="hidden"
  value="<%= form_authenticity_token %>"> -->
  <%= auth_code %>
  <label>Email: </label>
  <input type="text" name="user[email]"> <br>
  <label>Password: </label>
  <input type="password" name="user[password]"> <br>
  <input type="submit" value="Create Account!">
</form>
